/* 
.checkModal {
   
    visibility: hidden;
  } */
body{
  text-align: center;
 background-image: url('https://images.unsplash.com/photo-1503023345310-bd7c1de61c7d?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8aHVtYW58ZW58MHx8MHx8fDA%3D');
 

}
.btnModel {
  background-image: url("");
}
.checkModal{
    width: 150px;
    height: 150px;
    background-color:burlywood;
    color: brown;
    
}

.spinner {
  width: 40px;
  height: 40px;
  border: 4px #ddd solid;
  border-top: 4px #2e93e6 solid;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  animation: sp-anime 0.8s infinite linear;
}

.spinner-screen {
  width: 100vh;
  height: 100vh;
}
.spinner-container {
  position: absolute;
  top: 0;
  left: 0;
}
table, th {
  border: 1px solid black;
  width: 500px;
}
 td{
  border: 1px solid black;
}

.emp-heading{
  text-align: center;
  color: darkgoldenrod;
 
}
.tick-green{
  color: green;
}

.tick-red{
  color: red;
}


@keyframes sp-anime {
  100% { 
    transform: rotate(360deg); 
  }

}
.wrap-div{
  border: 1px solid blue;
}
